@import url('https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/feather/feather-icons.css');

.slide .imageElement {
  width: 100%;
  height: auto;
  max-width: unset;
  max-height: 400px !important;
}

.paginationDotsContainer--carousel-home {
  padding-bottom: 15px;
}

.sliderLayoutContainer--shelf {
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .sliderLayoutContainer--shelf {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}
.sliderLayoutContainer--shelf .sliderRightArrow--shelf::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82 l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262 c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z'/%3E%3Cpath d='M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115 L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667 c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .sliderLayoutContainer--shelf .sliderRightArrow--shelf::before {
    width: 15px;
    height: 15px;
  }
}
.sliderLayoutContainer--shelf .sliderRightArrow--shelf .caretIcon {
  display: none;
}
.sliderLayoutContainer--shelf .sliderLeftArrow--shelf::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.787 490.787' style='enable-background:new 0 0 490.787 490.787;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006 c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083 c-0.086,0.089-0.173,0.176-0.262,0.262L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085 C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cpath d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256 c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262 L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .sliderLayoutContainer--shelf .sliderLeftArrow--shelf::before {
    width: 15px;
    height: 15px;
  }
}
.sliderLayoutContainer--shelf .sliderLeftArrow--shelf .caretIcon {
  display: none;
}

.sliderTrack--shelf {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .sliderTrack--shelf {
    padding: 0;
  }
}

.sliderLayoutContainer--por-categoria-slider {
  padding: 0 50px;
  margin-top: 20px;
}
.sliderLayoutContainer--por-categoria-slider .sliderRightArrow::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82 l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262 c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z'/%3E%3Cpath d='M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115 L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667 c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .sliderLayoutContainer--por-categoria-slider .sliderRightArrow::before {
    width: 15px;
    height: 15px;
  }
}
.sliderLayoutContainer--por-categoria-slider .sliderRightArrow .caretIcon {
  display: none;
}
.sliderLayoutContainer--por-categoria-slider .sliderLeftArrow::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.787 490.787' style='enable-background:new 0 0 490.787 490.787;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006 c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083 c-0.086,0.089-0.173,0.176-0.262,0.262L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085 C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cpath d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256 c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262 L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085C368.236,489.664,365.511,490.792,362.671,490.787z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .sliderLayoutContainer--por-categoria-slider .sliderLeftArrow::before {
    width: 15px;
    height: 15px;
  }
}
.sliderLayoutContainer--por-categoria-slider .sliderLeftArrow .caretIcon {
  display: none;
}
.sliderLayoutContainer--por-categoria-slider .paginationDotsContainer {
  display: none;
}

.sliderLayoutContainer--carousel-home-2 {
  padding: 0 50px;
}
@media (max-width: 767px) {
  .sliderLayoutContainer--carousel-home-2 {
    padding: 0 15px;
  }
}
.sliderLayoutContainer--carousel-home-2 .sliderLeftArrow--carousel-home-2 {
  background: rgba(0, 0, 0, 0.5) !important;
  width: 110px;
  height: 110px;
  left: 0;
  margin: 0;
  padding: 0;
  justify-content: center;
  transition: width 0.2s linear;
}
@media (max-width: 767px) {
  .sliderLayoutContainer--carousel-home-2 .sliderLeftArrow--carousel-home-2 {
    width: 100px;
    height: 100px;
    padding: 0;
  }
}
@media (min-width: 767px) {
  .sliderLayoutContainer--carousel-home-2
    .sliderLeftArrow--carousel-home-2:hover {
    width: 220px;
  }
}
.sliderLayoutContainer--carousel-home-2
  .sliderLeftArrow--carousel-home-2
  .caretIcon {
  color: #fff;
  opacity: 0.5;
}
.sliderLayoutContainer--carousel-home-2 .sliderRightArrow--carousel-home-2 {
  background: rgba(0, 0, 0, 0.5) !important;
  width: 110px;
  height: 110px;
  right: 0;
  margin: 0;
  padding: 0;
  justify-content: center;
  transition: width 0.2s linear;
}
@media (max-width: 767px) {
  .sliderLayoutContainer--carousel-home-2 .sliderRightArrow--carousel-home-2 {
    width: 100px;
    height: 100px;
    padding: 0;
  }
}
@media (min-width: 767px) {
  .sliderLayoutContainer--carousel-home-2
    .sliderRightArrow--carousel-home-2:hover {
    width: 220px;
  }
}
.sliderLayoutContainer--carousel-home-2
  .sliderRightArrow--carousel-home-2
  .caretIcon {
  color: #fff;
  opacity: 0.5;
}

.sliderLayoutContainer--carousel-home {
  padding: 0;
}
