@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/feather/feather-icons.css");
@media (max-width: 767px) {
  .stackContainer--product {
    margin: 0 -15px;
    width: calc(100% + 30px);
  }
}

.stackContainer--prodsum .stackItem:last-child {
  top: unset;
  width: 100%;
  bottom: 0;
  position: absolute;
}