@import url('https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/feather/feather-icons.css');
.paragraph--title-submenu-header {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.container--collection-title {
  margin: 30px 0;
}
.container--collection-title .wrapper {
  display: block;
  margin: 0 auto;
}
.container--collection-title .wrapper .heading-level-3 {
  color: #000;
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .container--collection-title .wrapper .heading-level-3 {
    font-size: 24px;
    padding: 0 15px;
  }
}
.container--collection-title .wrapper .paragraph {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 767px) {
  .container--collection-title .wrapper .paragraph {
    font-size: 16px;
    padding: 0 15px;
  }
}

.container--iframe-video-text {
  height: 100%;
}
.container--iframe-video-text .wrapper {
  margin: auto 0;
}
.container--iframe-video-text .wrapper .heading-level-3 {
  margin: 0;
  z-index: 1;
  color: #000;
  padding: 5px;
  font-size: 40px;
  margin-left: -15%;
  position: relative;
  font-weight: 300;
  background-color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .container--iframe-video-text .wrapper .heading-level-3 {
    margin-left: 0;
    text-align: center;
    width: fit-content;
    margin: -15px auto 0 0;
  }
}
.container--iframe-video-text .wrapper .paragraph {
  text-align: justify;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .container--iframe-video-text .wrapper .paragraph {
    margin-left: 0;
    margin-top: 15px;
    text-align: center;
  }
}

.paragraph--menu-footer {
  color: #000;
  margin-top: 0;
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.paragraph--info-sac-footer {
  margin: 0;
  color: #000;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.paragraph--info-sac-footer .strong,
.paragraph--info-sac-footer .link {
  color: #000;
  display: block;
  margin: 0;
}
.paragraph--info-sac-footer .link {
  margin-bottom: 15px;
  text-decoration: none;
}
.paragraph--info-sac-footer .strong {
  display: flex;
  align-items: center;
}
.paragraph--info-sac-footer .strong::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='m439.277344 72.722656c-46.898438-46.898437-109.238282-72.722656-175.566406-72.722656-.003907 0-.019532 0-.023438 0-32.804688.00390625-64.773438 6.355469-95.011719 18.882812-30.242187 12.527344-57.335937 30.640626-80.535156 53.839844-46.894531 46.894532-72.71875 109.246094-72.71875 175.566406 0 39.550782 9.542969 78.855469 27.625 113.875l-41.734375 119.226563c-2.941406 8.410156-.859375 17.550781 5.445312 23.851563 4.410157 4.414062 10.214844 6.757812 16.183594 6.757812 2.558594 0 5.144532-.429688 7.667969-1.3125l119.226563-41.730469c35.019531 18.082031 74.324218 27.625 113.875 27.625 66.320312 0 128.667968-25.828125 175.566406-72.722656 46.894531-46.894531 72.722656-109.246094 72.722656-175.566406 0-66.324219-25.824219-128.675781-72.722656-175.570313zm-21.234375 329.902344c-41.222657 41.226562-96.035157 63.925781-154.332031 63.925781-35.664063 0-71.09375-8.820312-102.460938-25.515625-5.6875-3.023437-12.410156-3.542968-18.445312-1.429687l-108.320313 37.910156 37.914063-108.320313c2.113281-6.042968 1.589843-12.765624-1.433594-18.449218-16.691406-31.359375-25.515625-66.789063-25.515625-102.457032 0-58.296874 22.703125-113.109374 63.925781-154.332031 41.21875-41.21875 96.023438-63.921875 154.316406-63.929687h.019532c58.300781 0 113.109374 22.703125 154.332031 63.929687 41.226562 41.222657 63.929687 96.03125 63.929687 154.332031 0 58.300782-22.703125 113.113282-63.929687 154.335938zm0 0'/%3E%3Cpath d='m355.984375 270.46875c-11.421875-11.421875-30.007813-11.421875-41.429687 0l-12.492188 12.492188c-31.019531-16.902344-56.121094-42.003907-73.027344-73.023438l12.492188-12.492188c11.425781-11.421874 11.425781-30.007812 0-41.429687l-33.664063-33.664063c-11.421875-11.421874-30.007812-11.421874-41.429687 0l-26.929688 26.929688c-15.425781 15.425781-16.195312 41.945312-2.167968 74.675781 12.179687 28.417969 34.46875 59.652344 62.761718 87.945313 28.292969 28.292968 59.527344 50.582031 87.945313 62.761718 15.550781 6.664063 29.695312 9.988282 41.917969 9.988282 13.503906 0 24.660156-4.058594 32.757812-12.15625l26.929688-26.933594v.003906c5.535156-5.535156 8.582031-12.890625 8.582031-20.714844 0-7.828124-3.046875-15.183593-8.582031-20.714843zm-14.5 80.792969c-4.402344 4.402343-17.941406 5.945312-41.609375-4.195313-24.992188-10.710937-52.886719-30.742187-78.542969-56.398437s-45.683593-53.546875-56.394531-78.539063c-10.144531-23.667968-8.601562-37.210937-4.199219-41.613281l26.414063-26.414063 32.625 32.628907-15.636719 15.640625c-7.070313 7.070312-8.777344 17.792968-4.242187 26.683594 20.558593 40.3125 52.734374 72.488281 93.046874 93.046874 8.894532 4.535157 19.617188 2.832032 26.6875-4.242187l15.636719-15.636719 32.628907 32.628906zm0 0'/%3E%3C/svg%3E");
  margin-right: 10px;
}
.paragraph--info-sac-footer .strong:first-child::before {
  content: '\f11e';
  font-size: 18px;
  line-height: 1;
  height: 18px;
  font-weight: 300;
  font-family: 'Flaticon';
  text-decoration: none;
  background-image: unset;
}
.paragraph--info-sac-footer .link {
  display: flex;
  align-items: center;
}
.paragraph--info-sac-footer .link::before {
  content: '\f179';
  font-size: 18px;
  font-family: 'Flaticon';
  margin-right: 10px;
  text-decoration: none;
  display: block;
  height: 13px;
  line-height: 1;
}

.paragraph--seals {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.paragraph--seals .image {
  margin-right: 20px;
}
@media (max-width: 1025px) {
  .paragraph--seals .image {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .paragraph--seals .image {
    display: none;
  }
  .paragraph--seals .image:first-child {
    display: block;
    margin: 0 auto;
  }
}

.paragraph--footer {
  margin: 0;
  color: #000;
  font-size: 12px;
}
@media (max-width: 767px) {
  .paragraph--footer {
    font-size: 12px;
    text-align: center;
  }
}

.paragraph--dev-seals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 767px) {
  .paragraph--dev-seals {
    justify-content: center;
  }
}
.paragraph--dev-seals .image {
  max-width: 70px;
}
.paragraph--dev-seals .image:first-child {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .container--dev-seals .wrapper {
    width: 100%;
  }
}
.paragraph--title-instagram {
  margin: 0;
  color: #000;
  padding: 30px;
  display: flex;
  font-size: 32px;
  align-items: center;
  font-weight: 300;
}
@media (max-width: 767px) {
  .paragraph--title-instagram {
    font-size: 24px;
  }
}
.paragraph--title-instagram::before {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M363.273,0H148.728C66.719,0,0,66.719,0,148.728v214.544C0,445.281,66.719,512,148.728,512h214.544 C445.281,512,512,445.281,512,363.273V148.728C512,66.719,445.281,0,363.273,0z M472,363.272C472,423.225,423.225,472,363.273,472 H148.728C88.775,472,40,423.225,40,363.273V148.728C40,88.775,88.775,40,148.728,40h214.544C423.225,40,472,88.775,472,148.728 V363.272z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,118c-76.094,0-138,61.906-138,138s61.906,138,138,138s138-61.906,138-138S332.094,118,256,118z M256,354 c-54.037,0-98-43.963-98-98s43.963-98,98-98s98,43.963,98,98S310.037,354,256,354z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Ccircle cx='396' cy='116' r='20'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .paragraph--title-instagram::before {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .paragraph--title-instagram {
    padding: 15px;
  }
}

.paragraph--category-text-seo {
  margin: 0;
  color: #000;
  display: block;
  font-size: 14px;
}
.paragraph--category-text-seo .strong,
.paragraph--category-text-seo .heading-level-1,
.paragraph--category-text-seo .heading-level-2,
.paragraph--category-text-seo .heading-level-3,
.paragraph--category-text-seo .heading-level-4,
.paragraph--category-text-seo .heading-level-5 {
  margin-top: 0;
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
}
.paragraph--category-text-seo .strong:last-child,
.paragraph--category-text-seo .heading-level-1:last-child,
.paragraph--category-text-seo .heading-level-2:last-child,
.paragraph--category-text-seo .heading-level-3:last-child,
.paragraph--category-text-seo .heading-level-4:last-child,
.paragraph--category-text-seo .heading-level-5:last-child {
  margin-top: 15px;
}

.container--float-contacts {
  top: 50%;
  right: 0;
  z-index: 99;
  position: fixed;
  padding: 5px 15px;
  transform: translateY(-50%);
  background-color: #000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media (max-width: 767px) {
  .container--float-contacts {
    display: none;
  }
}
.container--float-contacts .wrapper .paragraph {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.container--float-contacts .wrapper .paragraph .link {
  border-top: 1px solid #fff;
  padding: 15px;
  width: calc(100% + 30px);
  margin: 0 -15px;
  color: #fff;
  display: flex;
  font-size: 12px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}
.container--float-contacts .wrapper .paragraph .link::before {
  content: '\f174';
  font-size: 24px;
  margin-bottom: 5px;
  font-family: 'Flaticon';
  display: block;
  width: 18px;
  height: 24px;
  line-height: 1;
}
.container--float-contacts .wrapper .paragraph .link:first-child {
  border-top: 0;
}
.container--float-contacts .wrapper .paragraph .link:first-child::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(1);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='30.667px' height='30.667px' viewBox='0 0 30.667 30.667' style='enable-background:new 0 0 30.667 30.667;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M30.667,14.939c0,8.25-6.74,14.938-15.056,14.938c-2.639,0-5.118-0.675-7.276-1.857L0,30.667l2.717-8.017 c-1.37-2.25-2.159-4.892-2.159-7.712C0.559,6.688,7.297,0,15.613,0C23.928,0.002,30.667,6.689,30.667,14.939z M15.61,2.382 c-6.979,0-12.656,5.634-12.656,12.56c0,2.748,0.896,5.292,2.411,7.362l-1.58,4.663l4.862-1.545c2,1.312,4.393,2.076,6.963,2.076 c6.979,0,12.658-5.633,12.658-12.559C28.27,8.016,22.59,2.382,15.61,2.382z M23.214,18.38c-0.094-0.151-0.34-0.243-0.708-0.427 c-0.367-0.184-2.184-1.069-2.521-1.189c-0.34-0.123-0.586-0.185-0.832,0.182c-0.243,0.367-0.951,1.191-1.168,1.437 c-0.215,0.245-0.43,0.276-0.799,0.095c-0.369-0.186-1.559-0.57-2.969-1.817c-1.097-0.972-1.838-2.169-2.052-2.536 c-0.217-0.366-0.022-0.564,0.161-0.746c0.165-0.165,0.369-0.428,0.554-0.643c0.185-0.213,0.246-0.364,0.369-0.609 c0.121-0.245,0.06-0.458-0.031-0.643c-0.092-0.184-0.829-1.984-1.138-2.717c-0.307-0.732-0.614-0.611-0.83-0.611 c-0.215,0-0.461-0.03-0.707-0.03S9.897,8.215,9.56,8.582s-1.291,1.252-1.291,3.054c0,1.804,1.321,3.543,1.506,3.787 c0.186,0.243,2.554,4.062,6.305,5.528c3.753,1.465,3.753,0.976,4.429,0.914c0.678-0.062,2.184-0.885,2.49-1.739 C23.307,19.268,23.307,18.533,23.214,18.38z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
.container--float-contacts .wrapper .paragraph .link:last-child::before {
  content: '\f179';
  width: 22px;
  height: 17px;
}

.container--title-newsletter {
  padding: 0 80px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .container--title-newsletter {
    padding: 0px 0px !important;
  }
}
.container--title-newsletter .wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .container--title-newsletter .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container--title-newsletter .wrapper .heading-level-3 {
  color: #fff;
  margin: 0 0 20px;
  display: block;
  font-size: 32px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .container--title-newsletter .wrapper .heading-level-3 {
    font-size: 24px;
  }
}
.container--title-newsletter .wrapper .paragraph {
  color: #fff;
  display: block;
  font-size: 18px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}
@media (max-width: 767px) {
  .container--title-newsletter .wrapper .paragraph {
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
  }
}

:global(.vtex-styleguide-9-x-input) {
  border-bottom: 1px solid #fff;
  border-style: none !important;
}

.container--faq .heading-level-1 {
  color: black;
  margin: 30px;
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .container--faq .heading-level-1 {
    margin: 15px;
  }
}

.container--nossas-tecnologias-content-1,
.container--contato-1,
.container--revendedor-1 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-1,
  .container--contato-1,
  .container--revendedor-1 {
    padding: 0 15px;
  }
}
.container--nossas-tecnologias-content-1 .image,
.container--contato-1 .image,
.container--revendedor-1 .image {
  float: left;
  margin-right: 25px;
}
.container--nossas-tecnologias-content-1 .paragraph:last-child,
.container--contato-1 .paragraph:last-child,
.container--revendedor-1 .paragraph:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container--nossas-tecnologias-content-1 .heading-level-1,
.container--nossas-tecnologias-content-1 .heading-level-2,
.container--nossas-tecnologias-content-1 .heading-level-3,
.container--nossas-tecnologias-content-1 .heading-level-4,
.container--nossas-tecnologias-content-1 .heading-level-5,
.container--contato-1 .heading-level-1,
.container--contato-1 .heading-level-2,
.container--contato-1 .heading-level-3,
.container--contato-1 .heading-level-4,
.container--contato-1 .heading-level-5,
.container--revendedor-1 .heading-level-1,
.container--revendedor-1 .heading-level-2,
.container--revendedor-1 .heading-level-3,
.container--revendedor-1 .heading-level-4,
.container--revendedor-1 .heading-level-5 {
  color: #000;
  font-size: 24px;
}

.container--nossas-tecnologias-content-2 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-2 {
    padding: 0 15px;
  }
}
.container--nossas-tecnologias-content-2 .wrapper {
  width: 100%;
}
.container--nossas-tecnologias-content-2 .wrapper .paragraph {
  width: 100%;
  display: flex;
}
.container--nossas-tecnologias-content-2 .wrapper .paragraph .strong {
  display: block;
}
.container--nossas-tecnologias-content-2
  .wrapper
  .paragraph
  .strong:first-child {
  padding-right: 50px;
}
.container--nossas-tecnologias-content-2 .image {
  float: left;
  margin-right: 25px;
}
.container--nossas-tecnologias-content-2 .heading-level-1,
.container--nossas-tecnologias-content-2 .heading-level-2,
.container--nossas-tecnologias-content-2 .heading-level-3,
.container--nossas-tecnologias-content-2 .heading-level-4,
.container--nossas-tecnologias-content-2 .heading-level-5 {
  color: #000;
  font-size: 24px;
}

.container--nossas-tecnologias-content-3 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-3 {
    padding: 0 15px;
  }
}
.container--nossas-tecnologias-content-3 .image {
  float: right;
  margin-left: 25px;
}
.container--nossas-tecnologias-content-3 .strong {
  color: #000;
  font-size: 16px;
}
.container--nossas-tecnologias-content-3 .heading-level-1,
.container--nossas-tecnologias-content-3 .heading-level-2,
.container--nossas-tecnologias-content-3 .heading-level-3,
.container--nossas-tecnologias-content-3 .heading-level-4,
.container--nossas-tecnologias-content-3 .heading-level-5 {
  color: #000;
  font-size: 24px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-3 .wrapper {
    display: flex;
    flex-direction: column;
  }
  .container--nossas-tecnologias-content-3 .wrapper .paragraph:first-child {
    order: 3;
  }
}

.container--nossas-tecnologias-content-4 {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-4 {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container--nossas-tecnologias-content-4 .paragraph {
  width: max-content !important;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-4 .paragraph {
    width: auto !important;
    flex-direction: column;
  }
}

.container--nossas-tecnologias-content-5 {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-5 {
    padding: 15px;
  }
}

.container--nossas-tecnologias-content-4,
.container--nossas-tecnologias-content-5 {
  background-color: #6d6a68;
}
.container--nossas-tecnologias-content-4 .image,
.container--nossas-tecnologias-content-5 .image {
  float: unset;
  height: auto;
  max-width: 100%;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .container--nossas-tecnologias-content-4 .image,
  .container--nossas-tecnologias-content-5 .image {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .container--nossas-tecnologias-content-4 .image:first-child,
  .container--nossas-tecnologias-content-5 .image:first-child {
    margin-top: 25px;
  }
}
.container--nossas-tecnologias-content-4 .wrapper,
.container--nossas-tecnologias-content-5 .wrapper {
  width: 100%;
}
.container--nossas-tecnologias-content-4 .strong,
.container--nossas-tecnologias-content-5 .strong {
  color: #fff;
  font-size: 16px;
}
.container--nossas-tecnologias-content-4 .paragraph,
.container--nossas-tecnologias-content-5 .paragraph {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container--nossas-tecnologias-content-4 .heading-level-1,
.container--nossas-tecnologias-content-4 .heading-level-2,
.container--nossas-tecnologias-content-4 .heading-level-3,
.container--nossas-tecnologias-content-4 .heading-level-4,
.container--nossas-tecnologias-content-4 .heading-level-5,
.container--nossas-tecnologias-content-5 .heading-level-1,
.container--nossas-tecnologias-content-5 .heading-level-2,
.container--nossas-tecnologias-content-5 .heading-level-3,
.container--nossas-tecnologias-content-5 .heading-level-4,
.container--nossas-tecnologias-content-5 .heading-level-5 {
  color: #fff;
  font-size: 24px;
}

.container--certificados-content-1 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--certificados-content-1 {
    padding: 0 15px;
  }
}
.container--certificados-content-1 .image {
  float: left;
  width: 49%;
  margin-right: 1%;
  margin-bottom: 1%;
}
@media (max-width: 767px) {
  .container--certificados-content-1 .image {
    width: 100%;
    margin-right: 0;
  }
}
.container--certificados-content-1 .strong {
  color: #000;
  font-size: 16px;
}
.container--certificados-content-1 .paragraph {
  text-align: center;
}
.container--certificados-content-1 .heading-level-1,
.container--certificados-content-1 .heading-level-2,
.container--certificados-content-1 .heading-level-3,
.container--certificados-content-1 .heading-level-4,
.container--certificados-content-1 .heading-level-5 {
  color: #000;
  font-size: 24px;
  text-align: center;
}

.container--institucional-content-1 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--institucional-content-1 {
    padding: 0 15px;
  }
}
.container--institucional-content-1 .strong {
  color: #000;
}
.container--institucional-content-1 .link {
  color: #000;
}
.container--institucional-content-1 .paragraph {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 767px) {
  .container--institucional-content-1 .paragraph {
    margin: 20px 0 0;
  }
  .container--institucional-content-1 .paragraph:last-child {
    margin: 20px 0;
  }
}
.container--institucional-content-1 .heading-level-1 {
  color: #000;
  margin: 25px 0;
  font-size: 24px;
  min-width: 300px;
}
@media (max-width: 767px) {
  .container--institucional-content-1 .heading-level-1 {
    margin: 20px 0 0;
  }
}
.container--institucional-content-1 .heading-level-2,
.container--institucional-content-1 .heading-level-3,
.container--institucional-content-1 .heading-level-4,
.container--institucional-content-1 .heading-level-5 {
  color: #000;
  font-size: 18px;
}

.container--quem-somos-1 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--quem-somos-1 {
    padding: 0 15px;
  }
}
.container--quem-somos-1 .wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .container--quem-somos-1 .wrapper {
    align-items: flex-start;
    flex-direction: column;
  }
}
.container--quem-somos-1 .heading-level-1 {
  color: #000;
  margin: 60px 0;
  font-size: 40px;
  min-width: 300px;
}
@media (max-width: 767px) {
  .container--quem-somos-1 .heading-level-1 {
    margin: 20px 0 0;
  }
}
.container--quem-somos-1 .paragraph {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 767px) {
  .container--quem-somos-1 .paragraph {
    margin: 20px 0 0;
  }
}

.container--franqueados-question .paragraph {
  font-size: 14px;
}

.container--franqueado-content-1 {
  padding-left: 30px;
}
@media (max-width: 767px) {
  .container--franqueado-content-1 {
    padding: 0 15px;
  }
}
.container--franqueado-content-1 .paragraph {
  color: #000;
  font-size: 16px;
}

.container--franqueado-content-2,
.container--franqueado-content-3,
.container--franqueado-content-4 {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .container--franqueado-content-2,
  .container--franqueado-content-3,
  .container--franqueado-content-4 {
    padding: 0 15px;
  }
}
.container--franqueado-content-2 .paragraph,
.container--franqueado-content-2 .heading-level-1,
.container--franqueado-content-2 .heading-level-2,
.container--franqueado-content-2 .heading-level-3,
.container--franqueado-content-2 .heading-level-4,
.container--franqueado-content-2 .heading-level-5,
.container--franqueado-content-3 .paragraph,
.container--franqueado-content-3 .heading-level-1,
.container--franqueado-content-3 .heading-level-2,
.container--franqueado-content-3 .heading-level-3,
.container--franqueado-content-3 .heading-level-4,
.container--franqueado-content-3 .heading-level-5,
.container--franqueado-content-4 .paragraph,
.container--franqueado-content-4 .heading-level-1,
.container--franqueado-content-4 .heading-level-2,
.container--franqueado-content-4 .heading-level-3,
.container--franqueado-content-4 .heading-level-4,
.container--franqueado-content-4 .heading-level-5 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.container--header-sup {
  width: 100%;
}
.container--header-sup .wrapper {
  width: 100%;
}
.container--header-sup .wrapper .paragraph {
  width: 100%;
  margin: 0;
  padding: 12px 0;
}
.container--header-sup .wrapper .paragraph .link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px;
}
.container--header-sup .wrapper .paragraph .link .strong--header-sup {
  text-align: left;
}
@media (max-width: 767px) {
  .container--header-sup .wrapper .paragraph .link .strong--header-sup {
    width: 75%;
    font-size: 11px;
  }
}
.container--header-sup .wrapper .paragraph .link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://redfeather.vtexassets.com/arquivos/cardIcon.png');
}

@media (max-width: 767px) {
  .container--header-sup .wrapper .paragraph .link::before {
    display: none;
  }
}

.container--tabela-de-medida .paragraph {
  color: #000;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.container--tabela-de-medida .paragraph::before {
  content: '';
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M213.314,154.947c-11.462-5.051-26.372-7.833-41.982-7.833c-15.61,0-30.52,2.782-41.981,7.833 c-20.738,9.14-23.835,22.444-23.835,29.562s3.096,20.423,23.835,29.561c11.462,5.052,26.371,7.833,41.981,7.833 c15.61,0,30.52-2.781,41.982-7.833c20.738-9.139,23.835-22.443,23.835-29.561C237.149,177.39,234.052,164.085,213.314,154.947z M171.332,191.904c-17.917,0-29.197-4.376-33.917-7.394c4.719-3.019,15.999-7.395,33.917-7.395 c17.918,0,29.198,4.376,33.918,7.395C200.529,187.527,189.248,191.904,171.332,191.904z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M171.332,100.616c-43.795,0-85.201,7.618-116.593,21.452C19.44,137.624,0,159.8,0,184.509v142.982 c0,24.71,19.44,46.886,54.739,62.441c31.392,13.834,72.798,21.452,116.593,21.452c43.795,0,85.201-7.618,116.593-21.452 c31.314-13.8,50.135-32.812,53.988-54.179H512V100.616H171.332z M66.838,149.521c27.663-12.19,64.773-18.904,104.494-18.904 s76.831,6.714,104.494,18.904c23.066,10.165,36.838,23.245,36.838,34.989c0,11.743-13.771,24.823-36.838,34.988 c-27.663,12.19-64.773,18.904-104.494,18.904c-39.721,0-76.831-6.714-104.494-18.904C43.771,209.332,30,196.253,30,184.509 C30,172.766,43.771,159.686,66.838,149.521z M312.664,327.493c0,11.743-13.771,24.823-36.838,34.988 c-27.663,12.19-64.773,18.904-104.494,18.904c-39.721,0-76.831-6.714-104.494-18.904C43.771,352.316,30,339.236,30,327.491 v-94.299c7.082,5.002,15.342,9.616,24.739,13.757c2.532,1.116,5.136,2.187,7.794,3.221v70.584h30v-61.266 c10.35,2.511,21.246,4.513,32.532,5.979v67.948h30v-65.366c5.375,0.235,10.802,0.353,16.267,0.353 c5.465,0,10.891-0.119,16.267-0.353v65.366h30v-67.948c11.287-1.466,22.183-3.468,32.533-5.979v61.266h30v-70.584 c2.658-1.034,5.261-2.105,7.793-3.22c9.397-4.141,17.658-8.755,24.739-13.757V327.493z M482,305.754H342.664V184.509 c0-20.483-13.37-39.22-38.047-53.894h58.021v65.012h30v-65.012h32.532v65.012h30v-65.012H482V305.754z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.container--search-title .wrapper {
  margin: 25px auto;
  display: block;
}
.container--search-title .wrapper .paragraph,
.container--search-title .wrapper .heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.paragraph--header-sup {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.strong--header-sup {
  color: #eb1b1d;
}

.wrapper--cuopon-message {
  width: 100%;
}
