.wrapperSkuSelectorScroll {
  height: 280px;
  overflow-y: auto;
  padding-right: 20px;
}

.wrapperSkuSelector {
  flex-direction: column;
  display: flex;
}
.SkuSelector {
  display: flex;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: max-content;
}

.SkuSelector:hover {
  background: #f3f3f3;
}

.SkuSelector img {
  width: 85px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.SelectorInfo {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  width: 100%;
}

.Selector {
  border: 1px solid #dedede;
  padding: 3px 15px;
  border-radius: 5px;
  height: 42px;
  display: flex;
  align-items: center;
}

.Title {
  font-size: 14px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.GridVariation {
  display: flex;
}

.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.Price {
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

.Price strong {
  color: #000;
  font-size: 14px;
}

.Quantity {
  display: flex;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
  font-size: 14px;
}

.Quantity input {
  border: 0px;
  width: 80px;
  text-align: center;
  background: transparent;
}

.Quantity input:focus {
  outline: none;
}

.Quantity button {
  background: #dedede;
  border: 0;
  font-size: 18px;
  color: #000;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.Totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px 15px 0;
  text-transform: uppercase;
  color: #aaa;
  font-size: 13px;
  letter-spacing: 1px;
}

.Totals .price {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.AddToCart {
  background: #000;
  color: #fff;
  height: 55px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.Select {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.loginCta {
  width: 200px;
  background-color: #000;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.loginRegister {
  width: 200px;
  border: 1px solid #000;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: 30px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
}
.loginCta:hover {
  opacity: 0.75;
}
.responseMessage {
  font-size: 16px;
  color: #000;
  margin: 15px 0;
  max-width: 100%;
  display: block;
  text-align: left;
  text-decoration: none;
}

.var_36 {
  order: 1;
}

.var_38 {
  order: 2;
}

.var_40 {
  order: 3;
}

.var_42 {
  order: 4;
}

.var_44 {
  order: 5;
}

.var_46 {
  order: 6;
}

.var_48 {
  order: 7;
}
.var_50 {
  order: 8;
}
.var_PP {
  order: 1;
}
.var_P {
  order: 2;
}
.var_M {
  order: 3;
}
.var_G {
  order: 4;
}
.var_GG {
  order: 5;
}

.var_XGG {
  order: 6;
}

.var_3G {
  order: 7;
}

.var_XXGG {
  order: 8;
}

.var_4G {
  order: 9;
}

.var_EXG {
  order: 7;
}

@media (max-width: 768px) {
  .wrapperSkuSelectorScroll {
    margin: 16px 0;
    height: 435px;
    overflow-y: scroll;
    padding: 0;
  }

  .Row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px 0;
    margin: 0 0 10px 0;
  }

  .SkuSelector img {
    width: 100px;
  }

  .GridVariation {
    gap: 0 5px;
  }

  .Price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .Totals {
    box-shadow: 0 -4px 8px rgb(86 105 115/15%);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: #fff;
    padding: 8px 0;
    margin: 0;
  }

  .Totals div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .Totals span {
    font-size: 14px;
    color: #7b7b7b;
  }
  .price {
    font-size: 18px !important;
    margin-left: 4px !important;
  }

  .AddToCart {
    margin-top: 10px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #7b8a9c;
    border-radius: 10px;
    border: 2px solid #dfe7ea;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
